body {
    background-color: #FFCD9E;
}

footer {
    background-color: black;
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
    background: #FFFFFF;
    text-indent: 20px;
    margin-right: 5px;
    text-align: center;
    justify-content: space-around;    

}
h1 {
    width: 40%;
    height: 80px;
    top: 0px;
    left: 200px;
    color: black;
    margin-left: 30px;
    margin-top: 10px;

}
p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    width: 40%;
    margin-left: 30px;
    margin-top: 0px;
    color:black;
}
.text2 {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;

}
.flex-container {
    display: flex;
    flex-direction: top-column;
    column-gap: normal;
    flex-wrap: wrap;
    justify-content:space-between;
    color: white;

}
.img {
    background-color: #FFCD9E;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    justify-content:space-between;
    fill-opacity: initial;
    background-position: top-right;
    opacity: 0.3;
}
div1 {
    opacity: 1;
}
.form {
    border: 2px solid black;
    border-radius: 5px;
    padding:20px;
}
main {
    background-color: #FFCD9E;
}
h3 {
    margin-left: 30px;
    color: #282828;
    font-weight: bold;
    color: black;
}
.text1 {
    margin-left: 40px;
}